@page
@model Emf.Pages.Departments.ListModel
@{
    ViewData["Title"] = "List";
}

<h2>Departments</h2>


<br />
<form method="get">
    <div class="row form-group">
        <div class="col-sm-4">
            <div class="input-group">
                <input type="search" class="form-control" asp-for="SearchName" />
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>

<form method="get">
    <div class="row form-group">
        

    </div>
</form>

<table class="table">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Department Type</th>
        <th scope="col">View/Edit/Delete</th>
    </tr>
    @foreach (var department in Model.Departments)
    {
        <tr>
            <td>@department.Name</td>
            <td>@department.Description</td>
            <td>@department.DepartmentType</td>
            <td>
                <a class="btn btn-sm"
                   asp-page="./Detail"
                   asp-route-id="@department.Id">
                    <i class="glyphicon glyphicon-search"></i>
                </a>
                <a class="btn btn-sm"
                   asp-page="./Edit"
                   asp-route-id="@department.Id">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-sm"
                   asp-page="./Delete"
                   asp-route-id="@department.Id">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>

<a asp-page=".\Edit" class="btn btn-primary">Add a New Department</a>
